*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    background-color: pink;
}

p{
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    border: 1px solid;
}

.nested.col-6{
    border: 1px solid;
    padding: 5px;
}

.row:last-child p{
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    background-color: palevioletred;
    margin: 1px;
    border: 1px solid transparent;
}